extends ../0_base/template

block title
	title Home page

block content
	.l-wrapper.catalog
		.catalog_header
			h1.catalog_title.like-h1 Сеты

			.catalog_sorting
				form(action="#" method="get").form.__no-pdg
					.form_select
						input(type="hidden" name="doctor" value="param-1").form_select-input
						span.form_select-current Сначала дешевые
						ul.form_select-list
							li.form_select-val(data-val="param-1") Сначала дешевые
							li.form_select-val(data-val="param-2") Сначала дорогие
							li.form_select-val(data-val="param-3") Сначала популярные

		
		.catalog_content.cards-layout
			.cards-layout_item: +card(
				"Сет «Весёлая компания»", 
				"1 240 г / 40 шт", 
				"Лосось, угорь, тобико, креветка, огурец, авакадо, снежный краб, сыр филадельфия, соус терияки, кунжут")
			.cards-layout_item: +card(
				"Сет «Ассорти»", 
				"1 300 г / 50 шт", 
				"Лосось, угорь, тобико, креветка, огурец, авакадо, снежный краб, сыр филадельфия, соус терияки, кунжут")
			.cards-layout_item: +card(
				"Сет «Оригами»", 
				"855 г / 30 шт", 
				"Лосось, угорь, тобико, креветка, огурец, авакадо, снежный краб, сыр филадельфия, соус терияки, кунжут")
			.cards-layout_item: +card(
				"Сет «Горячий»", 
				"850 г / 30 шт", 
				"Лосось, угорь, тобико, креветка, огурец, авакадо, снежный краб, сыр филадельфия, соус терияки, кунжут")
			.cards-layout_item: +card(
				"Сет «Весёлая компания»", 
				"1 240 г / 40 шт", 
				"Лосось, угорь, тобико, креветка, огурец, авакадо, снежный краб, сыр филадельфия, соус терияки, кунжут")
			.cards-layout_item: +card(
				"Сет «Ассорти»", 
				"1 300 г / 50 шт", 
				"Лосось, угорь, тобико, креветка, огурец, авакадо, снежный краб, сыр филадельфия, соус терияки, кунжут")
			.cards-layout_item: +card(
				"Сет «Оригами»", 
				"855 г / 30 шт", 
				"Лосось, угорь, тобико, креветка, огурец, авакадо, снежный краб, сыр филадельфия, соус терияки, кунжут")
			.cards-layout_item: +card(
				"Сет «Горячий»", 
				"850 г / 30 шт", 
				"Лосось, угорь, тобико, креветка, огурец, авакадо, снежный краб, сыр филадельфия, соус терияки, кунжут")
			.cards-layout_item: +card(
				"Сет «Весёлая компания»", 
				"1 240 г / 40 шт", 
				"Лосось, угорь, тобико, креветка, огурец, авакадо, снежный краб, сыр филадельфия, соус терияки, кунжут")
			.cards-layout_item: +card(
				"Сет «Ассорти»", 
				"1 300 г / 50 шт", 
				"Лосось, угорь, тобико, креветка, огурец, авакадо, снежный краб, сыр филадельфия, соус терияки, кунжут")
			.cards-layout_item: +card(
				"Сет «Оригами»", 
				"855 г / 30 шт", 
				"Лосось, угорь, тобико, креветка, огурец, авакадо, снежный краб, сыр филадельфия, соус терияки, кунжут")
			.cards-layout_item: +card(
				"Сет «Горячий»", 
				"850 г / 30 шт", 
				"Лосось, угорь, тобико, креветка, огурец, авакадо, снежный краб, сыр филадельфия, соус терияки, кунжут")
