extends ../0_base/template

block title
	title Home page

block content
	.l-wrapper
		.text-block
			h1 О компании

			p.
				Говорят, что роллы и суши — легкая и низкокалорийная еда. 
				Действительно, в них нет таких ингредиентов, которые бы с трудом 
				усваивались организмом. Кроме того, роллы еще и полезны. Разберем 
				их по составу и поймем, какие витамины и полезные вещества в них 
				содержатся.

			h2 Рис

			p.
				Посмотрите на японцев, корейцев и китайцев. Вы когда-нибудь видели, 
				чтобы представители этих народов в большинстве своем страдали 
				избыточным весом? <b>Никогда</b>. Основа их национальных кухонь — рис. 
				В нем содержатся сложные углеводы, 8 необходимых организму 
				аминокислот, витамины группы В, большое количество калия. Все это в 
				совокупности делает <b>рис незаменимым для человека</b>. Регулярное 
				употребление риса в роллах или в качестве гарниров укрепляет 
				сердечную мышцу, стимулирует мозговую деятельность, способствует 
				похудению благодаря свойствам риса выводить лишнюю воду и соль из 
				организма. Чего в рисе  <b>нет, так это <a href="#">глютена</a></b>, что делает продукт, 
				известный уже много тысяч лет, актуальным сегодня, как никогда.

			img(src="media/img-p/image.jpg", alt="image")

			h2 Водоросли Нори

			p.
				Этот вид водорослей является известным заменителем мясных и 
				молочных продуктов благодаря содержанию в нем кобаламина, одной 
				из форм витамина В12. <b>Водоросли нори</b> — отличное 
				противовоспалительное и антибактериальное средство, которое 
				показано людям с заболеваниями пищеварительного тракта в качестве 
				лекарства. В их составе <a href="#">содержится большое</a> количество Омега-3, а 
				значит, нори снижают уровень холестерина, укрепляют сосуды, 
				нормализуют давление.
			
			h2 Преимущества «Соломон»

			ul
				li свежие ингридиенты;
				li доставка в течение часа;
				li уникальное оформление;
				li отличный вкус;
				li премиум-качество;
				li низкие цены.