nav.site-nav
	ul.site-nav_list
		li.site-nav_item: a(href="/").site-nav_link Главная
		li.site-nav_item: a(href="catalog.html").site-nav_link Меню
		li.site-nav_item: a(href="text.html").site-nav_link Акции
		li.site-nav_item: a(href="text.html").site-nav_link Доставка
		li.site-nav_item: a(href="text.html").site-nav_link Контакты
