footer.site-foo
	.l-wrapper.site-foo_first
		.site-foo_about
			.site-foo_logo

			p.site-foo_about-txt.
				Соломон — ресторан доставки японской 
				кухни в Березниках. Качество выше цены. 
				Только большие роллы по доступной цене. 
				Кешбэк 10% при любом заказе.

		nav.site-foo_nav
			ul.site-foo_nav-list
				li.site-foo_nav-title Меню
				li.site-foo_nav-item: a(href="#").site-foo_nav-link Большие роллы
				li.site-foo_nav-item: a(href="#").site-foo_nav-link Сеты
				li.site-foo_nav-item: a(href="#").site-foo_nav-link Запеченные роллы
				li.site-foo_nav-item: a(href="#").site-foo_nav-link Пицца и тортилья
				li.site-foo_nav-item: a(href="#").site-foo_nav-link Суши и сашими
				li.site-foo_nav-item: a(href="#").site-foo_nav-link Салаты и супы
				li.site-foo_nav-item: a(href="#").site-foo_nav-link Горячие блюда
				li.site-foo_nav-item: a(href="#").site-foo_nav-link Десерты и напитки

			ul.site-foo_nav-list
				li.site-foo_nav-title Компания
				li.site-foo_nav-item: a(href="#").site-foo_nav-link Доставка
				li.site-foo_nav-item: a(href="#").site-foo_nav-link Акции
				li.site-foo_nav-item: a(href="#").site-foo_nav-link Кешбэк
				li.site-foo_nav-item: a(href="#").site-foo_nav-link Оплата
				li.site-foo_nav-item: a(href="#").site-foo_nav-link Контакты
				li.site-foo_nav-item: a(href="#").site-foo_nav-link О компании

			ul.site-foo_nav-list
				li.site-foo_nav-title Личный кабинет
				li.site-foo_nav-item: a(href="#").site-foo_nav-link Изменение пароля
				li.site-foo_nav-item: a(href="#").site-foo_nav-link История заказов
				li.site-foo_nav-item: a(href="#").site-foo_nav-link Регистрация
				li.site-foo_nav-item: a(href="#").site-foo_nav-link Корзина

		ul.site-foo_info
			li.site-foo_info-item
				.site-foo_info-item-ic: +icon("map-marker-alt")
				span г. Березники, ул. Свободы 40. <br>Корпус №3, офис 9
			li.site-foo_info-item
				.site-foo_info-item-ic: +icon("phone")
				a(href="#") +7 (3424) 200-555
			li.site-foo_info-item
				.site-foo_info-item-ic: +icon("at")
				a(href="#") info@solomon.ru
			li.site-foo_info-item
				.site-foo_info-item-ic: +icon("clock")
				ul.site-foo_info-timetable
					li Вс - Чт: 09:30 – 23:00
					li Пт - Сб: 10:00 – 24:00

	.l-wrapper.site-foo_second
		.site-foo_copyright Соломон200555 © 2018.
		.site-foo_site-developer Разработка сайта <a href="#">prostor.design</a>
