.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-at {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-bullseye {
	font-size:(48/10)*1rem;
	width:(48/48)*1em;
}
.icon-check-circle {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-clock {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-clock-thin {
	font-size:(16/10)*1rem;
	width:(18/16)*1em;
}
.icon-cookie {
	font-size:(48/10)*1rem;
	width:(49/48)*1em;
}
.icon-feather {
	font-size:(48/10)*1rem;
	width:(49/48)*1em;
}
.icon-heart-circle {
	font-size:(48/10)*1rem;
	width:(48/48)*1em;
}
.icon-history {
	font-size:(30/10)*1rem;
	width:(30/30)*1em;
}
.icon-map-marker-alt {
	font-size:(17/10)*1rem;
	width:(12/17)*1em;
}
.icon-percent {
	font-size:(42/10)*1rem;
	width:(37/42)*1em;
}
.icon-phone {
	font-size:(19/10)*1rem;
	width:(19/19)*1em;
}
.icon-plus-circle {
	font-size:(48/10)*1rem;
	width:(48/48)*1em;
}
.icon-shipping-fast {
	font-size:(48/10)*1rem;
	width:(61/48)*1em;
}
.icon-shopping-basket {
	font-size:(28/10)*1rem;
	width:(36/28)*1em;
}
.icon-sign-out {
	font-size:(23/10)*1rem;
	width:(30/23)*1em;
}
.icon-times-circle {
	font-size:(16/10)*1rem;
	width:(16/16)*1em;
}
.icon-user-circle {
	font-size:(32/10)*1rem;
	width:(31/32)*1em;
}
.icon-wallet {
	font-size:(42/10)*1rem;
	width:(49/42)*1em;
}
